.square {
  width: 30px;
  height: 30px;
  background-color: rosybrown;
  border: 1px solid black;
}

.square-rover {
  background-size: contain;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
